.Home{
    text-align: center;
    font-size: 23px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: inherit;
}
.HomePicture{
    position: relative;
    opacity: .7;
    width: 40%;
}
.HomeText{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 30%;
    right: 30%;
    width: 40%;
}