.Kakut {
    overflow: auto;
    transition: all 2s ease-out;
    float: left;
    padding: 2px 2px;
    border: 2px solid black;
    text-align: center;
  }
.Kakku {
  overflow: auto;
  transition: all 2s ease-out;
}
.Kuva{
    height: 30em;
    width: 60em;
    position: fixed relative;
}
