.LoginPage{
    margin: auto;
    text-align: center;
    width: 22%;
    border: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightgoldenrodyellow
    
}

.Title{
    color: #007bff;
    text-align: center;
    font: italic bold 30px/40px georgia;
    overflow: auto;
    border: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: none;
    width: 22%;
    margin: auto;
    margin-top: 7%;
    background-color: #343a40;
}

