.productKuva{
  text-align: center;
}

.products{
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  font: italic bold 20px/30px georgia;
  font: bolder;
  transition: all 2s ease-out;
}

.Kuva{
  font: italic bold 20px/30px georgia;
}

.products :hover {
  font-size:105%;
}