.Yhteystietosivu{
    display: flex;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.Yhteystiedot{
    padding: 5px;
    width: 50%;
    font: italic bold 15px/30px georgia;
    color: #343a40;
    font-weight: 900;
}
.Palautelomake{
    padding: 15px;
    width: 30%;
}